{% extends "layout.html" %}

{%block content%}

<section class="section-article-list">
    <div class="t-bg-slate-100">
        <div class="t-bg-white t-pl-6 t-pr-6 t-pt-6 t-max-w-screen-lg t-m-auto t-flex t-flex-col">
            <div><a href="/board/{{board.id}}/" class="fs-1 hover:t-text-black">{{board.name}}</a></div>
            <div class="input-group t-pb-6 t-grid">
                {% if board.id != 1 %}
                {% if request.user.is_authenticated %}
                <div class="t-g-col-4 t-mt-3 t-mb-3 t-flex t-justify-end">
                    <a href=" {% url 'board:write' board.id%}" class="btn btn-outline-primary">글
                        작성</a>
                </div>
                {%endif%}
                {%else%}
                {%if user.is_superuser == 1%}
                <div class="t-g-col-4 t-mt-3 t-mb-3 t-flex t-justify-end">
                    <a href=" {% url 'board:write' board.id%}" class="btn btn-outline-primary">글
                        작성</a>
                </div>
                {%endif%}
                {%endif%}
                <div class="form-outline t-g-col-4 t-my-5">
                    <form class="t-flex">
                        <input class="form-control me-2" type="search" name="kw" placeholder="검색어를 입력해주세요."
                               aria-label="Search">
                        <button class="btn btn-outline-success t-whitespace-nowrap search" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
                {% if article_list %}
                <div class="t-border-t t-border-slate-400 t-mt-5">
                    {% for article in article_list %}
                    <a class=" t-border-b t-border-slate-400 t-w-full t-py-1 t-block t-text-black visited:t-text-slate-300"
                       href="{% url 'board:detail' board.id article.id%}">
                        <span class="t-w-screen t-break-all">{{article.subject}}</span>
                        <span class="t-text-xs t-text-blue-600/75">{{ article.comment.count}}</span>
                        <div class="t-flex t-pt-1">
                            <span class="t-text-blue-600/50 t-text-xs t-pr-2 t-whitespace-nowrap"><i
                                    class="far fa-thumbs-up"></i> {{article.voter.count}}</span>
                            {% if article.created_string == False %}
                            <span class="t-text-xs t-text-slate-400 t-whitespace-nowrap">
                            <i class="far fa-clock"></i> {{ article.registered_date|date:'m월 d일' }}</td></span>
                            {% else %}
                            <span class="t-text-xs t-text-slate-400 t-whitespace-nowrap">
                            <i class="far fa-clock"></i> {{ article.created_string }}</span>
                            {% endif %}
                            <span class="t-text-xs t-w-full t-text-right">{{article.writer}}</span>
                        </div>
                    </a>
                    {%endfor%}
                </div>
                <ul class="pagination justify-content-center t-mt-5 t-pb-5">
                    <!-- 이전페이지 -->
                    {% if article_list.has_previous %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ article_list.previous_page_number }}&kw={{request.GET.kw}}">이전</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                    </li>
                    {% endif %}
                    <!-- 페이지리스트 -->
                    {% for page_number in article_list.paginator.page_range %}
                    {% if article_list.number|add:-5 <= page_number <= article_list.number|add:5 %}
                    {% if page_number == article_list.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{ page_number }}&kw={{request.GET.kw}}">{{ page_number }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_number }}&kw={{request.GET.kw}}">{{ page_number }}</a>
                    </li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    <!-- 다음페이지 -->
                    {% if article_list.has_next %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ article_list.next_page_number }}&kw={{request.GET.kw}}">다음</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                    </li>
                    {% endif %}
                </ul>
                {%endif%}
            </div>
        </div>
    </div>
</section>


{%endblock%}