{% extends "layout.html" %}

{%block content%}
<div class="popup-background t-fixed t-bg-black t-h-full t-w-full t-opacity-20 t-hidden"></div>
<div class="search-box-form form-outline t-fixed t-inset-0 t-flex t-items-center t-justify-center t-hidden">
    <div class="search-box-content bg-white border-black border-2 max-h-full flex flex-col t-p-4">
        <div class="popup-head t-mb-[30px] t-flex t-justify-between ">
            <span class="t-pt-2">검색</span>
            <button class="btn-popup-close"><i class="fas fa-times t-text-2xl"></i></button>
        </div>
        <div class="popup-body">
            <form class="">
                <input class="form-control me-2" type="search" name="kw" placeholder="검색어를 입력해주세요."
                       aria-label="Search">
                <div class="btns t-flex t-justify-end  t-my-4">
                    <button class="hover:t-bg-blue-200 t-p-2 t-rounded" type="submit"
                            onclick="location.href='{% url 'board:category' board.id %}'">
                        검색
                    </button>
                    <span class="btn-popup-close t-cursor-pointer hover:t-bg-blue-200 t-p-2 t-rounded t-h-fit t-mx-2">
                        취소
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="background t-bg-slate-100">
    <div class="t-mx-auto t-container t-max-w-screen-lg t-bg-white t-p-4">
<p class="t-text-2xl">{{article.img_thumbnail}}</p>
        <!-- 본문 -->
        <div class="article-box">
            <div class="head sm:t-mt-8 t-mt-2">
                <div class="board-link-box t-w-fit">
                    <a href="{% url 'board:category' board.id %}"
                       class="t-text-orange-300 t-text-2xl t-font-bold hover:t-text-blue-400"><i
                            class="fas fa-paw"></i> <span>{{board.name }}</span>
                    </a>
                </div>
                <div class="subject-box t-mt-[60px]">
                    <a href="{% url 'board:detail' board.id article.id%}"
                       class="t-text-slate-600 hover:t-text-slate-400 t-text-xl t-font-bold">
                        {{article.subject}} </a>
                </div>
            </div>
            <div class="body t-mt-2 t-border-y-2 t-border-slate-500">
                <div class="body-head t-bg-blue-100">
                    <div class="t-flex t-p-[5px]">
                        <div class="writer-nickname-box">
                            <p><i class="fa-solid fa-user"></i> {{article.writer}}</p>
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="article-regdate-box t-pt-[2px]">
                            <p class="t-text-sm t-text-slate-400">
                                <i class="fa-regular fa-clock"></i>
                                {% if article.created_string == False %}
                                {{ article.created|date:'m월 d일' }}
                                {% else %}
                                {{ article.created_string }}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="body-content t-mt-[60px]">
                    <div class="content-box">
                        {{article.content|safe}}
                    </div>
                    <div class="voter-box t-flex t-justify-center t-mb-[60px]">
                        <button class="btn btn-primary like t-flex" name="{{article.id}}"><i
                                class="far fa-thumbs-up t-pt-[1px]"></i>
                            <p id="count-{{ article.id }}" class="t-ml-[4px]">{{ article.voter.all.count }}</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 본문 끝 -->

        <!-- 댓글 -->
        <div class="comment-box">
            <div class="comment-head-box t-my-2">
                <i class="fa-regular fa-comments"></i>
                <span class="t-text-xl t-text-slate-600">
                전체 댓글
            {% if article.comment.count > 0 %}
            {{ article.comment.count }}개
            {%else%}
            0개
            {% endif %}
            </span>
            </div>

            <div class="comment-list-box ">
                {% for comment_ in comment %}
                <div class=" t-p-1 t-bg-slate-200 t-rounded t-border-2 t-border-slate-200">
                    <p class="comment-list-content t-flex t-items-center t-leading-8 t-justify-between">
                        <span class="comment-writer t-text-sm ">
                    <span>
                        {%if article.user_id == comment_.user_id%}
                        <i class="fa-solid fa-user"></i>
                        {%else%}
                        <i class="fa-regular fa-user"></i>
                        {%endif%}
                    </span>
                    <span>{{comment_.user.username}}</span>
                </span>
                        <span class="comment-regdate t-text-sm t-text-slate-400 ">
                <!-- 날짜 -->
                    <i class="fa-regular fa-clock"></i>
                {% if comment_.created_string == False %}
                {{ comment_.created|date:'m월 d일' }}
                {% else %}
                {{ comment_.created_string }}
                {% endif %}
                            <!-- 댓글 삭제 아이콘 -->
                        {% if request.user.id == comment_.user.id %}
                        <a href="{% url 'board:comment_delete' board.id article.id comment_.id %}"
                           onclick="if ( confirm('정말 삭제하시겠습니까?') == false ) return false"
                           class="t-bg-red-300 t-border-2 t-border-red-300 t-rounded-md t-px-1">
                            <span class="t-text-red-600">삭제</span>
                        </a>
                        {%endif%}
                            <!-- 댓글 삭제 아이콘 끝 -->
                </span>
                    </p>
                </div>
                <div class="comment-content-box t-bg-slate-100 t-mb-[40px] t-p-2">
                    <span>{{comment_.content}}</span>
                </div>
                {%endfor%}
            </div>

            <div class="comment-write-box">
                <form method="post" action="{% url 'board:comment_write' board.id article.id%}">
                    {% csrf_token %}
                    <div class="form-group t-flex t-flex-col">
                        <label for="content"></label>
                        <textarea class="form-control " name="content"
                                  id="content" rows="4"
                                  placeholder="내용을 입력하세요."
                                  required>{{ form.content.value|default_if_none:'' }}</textarea>
                        <button type="submit" class="btn btn-outline-primary t-my-2 t-self-end">등록</button>
                    </div>

                </form>
            </div>
        </div>

        <!-- 댓글 끝 -->
        <!-- 리스트 -->
        <div class="article-list-box">
            <div class="article-list-head t-border-2 t-border-black">
                <div class="article-list-board-link t-border-2 t-border-black">
                    <a href="{% url 'board:category' board.id %}"
                       class="t-text-orange-300 t-text-2xl t-font-bold hover:t-text-blue-400"><i
                            class="fas fa-paw"></i> <span>{{board.name }}</span>
                    </a>
                </div>
                <button class="btn-open-search-form-box">
                    <i class="fas fa-search t-text-slate-600 t-text-xl"></i>
                </button>
            </div>

            {% if article_list %}

            {%else%}
            <span>
            게시글이 없습니다 ㅠ . ㅠ
        </span>
            {%endif%}
        </div>
        <!-- 리스트 끝-->

        <!-- 페이지 -->
        <div class="paginator t-opacity-80 t-my-[30px]">
            <ul class="pagination justify-content-center t-mt-5 t-pb-5">
                <!-- 이전페이지 -->
                {% if article_list.has_previous %}
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ article_list.previous_page_number }}&kw={{request.GET.kw}}">이전</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                </li>
                {% endif %}
                <!-- 페이지리스트 -->
                {% for page_number in article_list.paginator.page_range %}
                {% if page_number >= article_list.number|add:-3 and page_number <= article_list.number|add:3 %}
                {% if page_number == article_list.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ page_number }}&kw={{request.GET.kw}}">{{ page_number }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}&kw={{request.GET.kw}}">{{ page_number }}</a>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}
                <!-- 다음페이지 -->
                {% if article_list.has_next %}
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ article_list.next_page_number }}&kw={{request.GET.kw}}">다음</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <!-- 페이지 끝 -->

        <script type="text/javascript">
    $(".like").click(function () { // .like 버튼을 클릭 감지
        var pk = $(this).attr('name')
        $.ajax({ // ajax로 서버와 통신
            type: "POST", // 데이터를 전송하는 방법
            url: "{% url 'board:article_like' %}", // 통신할 url을 지정
            data: { 'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' }, // 서버로 데이터 전송시 옵션, pk를 넘겨야 어떤 article인지 알 수 있음
            dataType: "json",
            success: function (response) { // 성공
                $("#count-" + pk).html(response.likes_count); // 좋아요 개수 변경
            },
            error: function (request, status, error) { // 실패
                {% if not user.is_authenticated %}
                alert("로그인이 필요합니다.")
                window.location.replace("/accounts/login/?next={{ request.path }}") // 로그인 페이지로 넘어가기
                {%else%}
                alert("본인이 작성한 글은 추천할 수 없습니다.")
                {%endif%}
            },
        });
    })




        </script>
    </div>
</div>
{% endblock%}
