{% extends 'layout.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="t-bg-slate-100">
    <div class="container">
        <h1 class="t-pt-3 fs-1">게시글 등록</h1>
        <form method="post" class="post-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-outline-primary">저장하기</button>
            {% bootstrap_button button_type="reset" content="취소" button_class="btn-outline-primary" %}
        </form>
    </div>
</div>

<script type="text/javascript">
    var checkUnload = true;
    $(window).on('beforeunload', function () {
        if (checkUnload) return "이 페이지를 벗어나면 작성된 내용은 저장되지 않습니다.";
    });
    $("#write").on("click", function () {
        checkUnload = false;
        $("submit").submit();
    });
</script>
{% endblock %}