{% extends "layout.html" %}
{% load django_bootstrap5 %}

{%block content%}
<div class="container t-flex t-flex-row t-h-10">
    <a class="t-text-2xl t-mr-4 t-leading-10 t-font-thin" href="#">개인정보 관리</a>
    <a class="t-text-2xl t-mr-4 t-leading-10 t-font-thin" href="#">비밀번호 변경</a>
    <a class="t-text-2xl t-leading-10" href="#">회원 탈퇴</a>
</div>
</nav>
<div class="t-bg-slate-100 t-h-screen">
    <div class="container t-mt-5">
        <div class="row">
            <div class="col-sm-6 offset-sm-3 t-bg-white t-border-2">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}
