{% extends "layout.html" %}
{% block content%}


<section class="section-main-index sm:t-h-screen"
         style="background-image:url(https://user-images.githubusercontent.com/85653591/161883541-5978545f-9379-4f16-be32-628f02d4a296.jpg);">
    <div class="t-p-2 t-mx-auto t-container  t-mt-[60px]  ">
        <div class="t-flex t-p-2">
            <div class="article-best-list t-basis-2/3 sm:t-block t-hidden t-mr-1">
                <div class="t-flex-row t-flex t-h-full t-border-b-2 t-border-r-2 t-border-slate-300 t-flex-wrap">
                    {% for article in article_list %}
                    <div class="t-bg-white t-opacity-90 t-basis-1/5 t-border-l-2 t-border-slate-300 t-h-1/2 t-bg-center t-bg-no-repeat	t-overflow-hidden t-bg-contain"
                         style="background-image:url({{article.img_thumbnail}});">
                        <div class="t-w-full t-truncate t-bg-slate-500 t-p-2 t-text-white t-border-y-2 t-border-slate-300">
                            <a href="{% url 'board:detail' 2 article.id%}?page={{article_list.number}}&kw={{request.GET.kw}}"
                               class="hover:t-text-blue-300">
                                {{article.subject}}
                            </a>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
            <div class="article-list-box t-border-2 t-border-slate-300 t-mx-auto t-w-full sm:t-basis-1/3 t-bg-slate-50 t-opacity-90 t-p-1">
                {% for article in article_list %}
                {% if forloop.first %}
                <div class="t-border-2 t-border-slate-200 t-p-1 t-m-1">
                    <a href="{% url 'index' %}" class="t-text-orange-300 t-text-2xl"><i class="fas fa-paw
hover:t-text-blue-300"></i></a>
                </div>
                {%endif%}
                <div class="t-border-2 t-border-slate-200 t-p-1 t-m-1 hover:t-bg-slate-300">
                    <div class="">
                        <a href="{% url 'board:detail' 2 article.id%}?page={{article_list.number}}&kw={{request.GET.kw}}"
                           class="">
                            {{article.subject }}
                        </a>
                        <span class="t-text-green-300">[{{article.comment.count}}]</span>
                    </div>
                    <div class="t-flex t-justify-between">
                        <div class="article-regdate-box t-pt-[2px]">
                            <p class="t-text-sm t-text-slate-400">
                                <i class="fa-regular fa-clock"></i>
                                {% if article.created_string == False %}
                                {{ article.created|date:'m월 d일' }}
                                {% else %}
                                {{ article.created_string }}
                                {% endif %}
                            </p>
                        </div>
                        <div class="writer-nickname-box">
                            <p><i class="fa-regular fa-user"></i> {{article.writer}}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.last %}
                <div class="t-p-2 t-text-center">
                    <a href="/board/2/"
                       class="t-font-bold t-text-2xl t-bg-slate-50 t-opacity-90 t-p-2 t-rounded-2xl t-border-2 t-border-slate-200">더
                        보기</a>
                </div>
                {%endif%}
                {%endfor%}
            </div>
        </div>
    </div>
</section>
{% endblock %}