{% extends "layout.html" %}
{% block content %}

{% if validlink %}
<div class="t-bg-slate-100 t-h-screen">
    <div class="container t-flex t-justify-center">
        <div class="login-form t-bg-white mt-4 p-4  t-h-fit">
            <h4 class="mb-4">비밀번호 변경</h4>
            <hr>
            <div class="login-form t-bg-white mt-4 p-4 t-m-auto">
                <form method="post">
                    {% csrf_token %}
                    <span class="text-danger fs-6">
                        {{ form.new_password2.errors }}
                        </span>
                    <div class="form-row field-password1 mt-2">
                        <label for="id_new_password1" class="fs-4">새 비밀번호 :</label>
                        {{ form.new_password1.errors }}
                        <div class="form-control">
                            {{ form.new_password1 }}
                        </div>
                    </div>
                    <div class="form-row field-password2 t-mt-4">
                        <label for="id_new_password2" class="fs-4">비밀번호 확인 :</label>

                        <div class="form-control ">
                            {{ form.new_password2 }}
                        </div>
                    </div>
                    <div class="float-end">
                        <button class="mt-4 btn btn-outline-primary" type="submit">비밀번호 변경</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% else %}

<p>비밀번호 재설정 링크가 유효하지 않습니다. 이미 사용되었기 때문일 수 있습니다. 비밀번호 찾기를 다시 시도해주세요.</p>

{% endif %}

{% endblock %}
