{% extends "layout.html" %}
{% load django_bootstrap5 %}

{% block content %}
<div class="t-bg-slate-100 t-h-screen">
    <div class="container t-flex t-justify-center">
        <div class="login-form t-bg-white mt-4 p-4 card t-h-fit">
            <div class="text-center t-h-fit" style="margin: 0 auto">
                <p class="fs-1">비밀번호 초기화가 완료되었습니다. </p>
                <p class="fs-1 t-my-5"><i class="fas fa-check"></i></p>
                <h5>이용하려면 로그인이 필요합니다..</h5><br>
                <a class="fs-2 t-text-yellow-700 t-mt-5 hover:t-text-yellow-800" href="{%url 'accounts:login' %}"><i
                        class="fas fa-paw"></i> 로그인 </a>
            </div>
        </div>

    </div>
</div>
</div>
{% endblock %}