{% extends "layout.html" %}
{% block content %}
<div class="t-bg-slate-100 t-h-screen">
    <div class="container">
        <div class="row"></div>
        <div class="">
            <div class="login-form t-bg-white mt-4 p-4 t-h-fit t-m-auto" style="width:22rem;">
                <form action="" method="POST" class="row g-3">
                    <h4>비밀번호 찾기</h4>
                    <hr>
                    {% csrf_token %}
                    {% include "form_errors.html" %}
                    <div class="col-12">
                        <label for="username">이메일</label>
                        <input type="text" name="email" class="form-control" placeholder="Email" id="email"
                               value="{{ form.email.value|default_if_none:'' }}">
                        <button type="submit" class="btn btn-outline-primary float-end t-mt-4">비밀번호 찾기</button>
                    </div>
                </form>
                <div class=" t-w-full t-mt-4 t-text-center">
                    <a href="{% url 'accounts:login' %}"
                       class="t-text-cyan-600 t-w-fit t-border-r-2 t-px-1 ">로그인</a>
                    <a href="{% url 'accounts:find_username' %}"
                       class="t-text-cyan-600 t-w-fit t-border-r-2 t-pr-1">아이디찾기</a>
                    <a href="{% url 'accounts:signup'%}"
                       class="t-text-cyan-600 t-w-fit t-pr-1">회원가입</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}